
body {
  background-color: #2c948c ;
}

.franklin-gothic-medium {
  font-family: 'Franklin Gothic Medium','Arial Narrow',  Arial, sans-serif ;
}

.titulo-centrado {
  text-align: center;
}
.color-amarillo {
  color: #eee641 ;
}
.tamaño-fuente {
  font-size: 40px ;
}

.img-1 {
  
  border: 10px solid white;

}